* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
}

#feedback {
    padding: 1rem;
    color: rgb(21, 18, 172);
}

.style {
    border: 6px dotted rgb(129, 13, 13);
    border-bottom: none;
    background: none;
    width: 9%;
    margin: 0 auto;
}

.slide {
    margin-bottom: 100px;
    font-size: 30px;
    color: rgb(175, 26, 150)
}